mixin newsList()
  .row(ng-controller='newsListCtrl')
    .col-sm-6.col-md-4(ng-repeat='item in items')
      .thumbnail
        .caption
          h3(ng-if='item.user') {{item.user.first_name + ' ' + item.user.last_name}}
          h3(ng-if='item.group') ГРУППА: {{item.group.name}}
          h6(ng-if='!item.empty') likes: {{item.likes.count}}
          uib-carousel.carousel(ng-if='item.attachment.type === "photo" || item.attachment.type === "doc" ')
            uib-slide(ng-repeat='attache in item.attachments' ng-if='attache.photo.src' )
              img(src='{{attache.photo.src}}' ng-click='showImage(attache.photo.src_big)')
            uib-slide(ng-repeat='attache in item.attachments' ng-if='attache.doc.thumb' )
              img(src='{{attache.doc.thumb}}' ng-click='showImage(attache.doc.url)')
          p(ng-bind-html='item.text|limitTo:150 |htmls')
          p(ng-if='!item.empty')
            a.btn.btn-success(ng-click='read(item)')  читать новость полностью
          p(ng-if='item.empty')
            a.btn.btn-success(ui-sref="search") Искать другие новости
