mixin newsList()
  .row(ng-controller='newsListCtrl')
    .jumbotron(ng-repeat='item in items')
      .container
        .col-lg-4.col-md-4.col-sm-6.col-sx-12(ng-if='item.user') {{item.user.first_name + ' ' + item.user.last_name}}
        .col-lg-4.col-md-4.col-sm-6.col-sx-12(ng-if='item.group') ГРУППА: {{item.group.name}}
        .col-lg-4.col-md-4.col-sm-6.col-sx-12(ng-if='item.date') дата: {{ item.date * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}
        .col-lg-4.col-md-4.col-sm-6.col-sx-12(ng-if='item.likes') likes: {{item.likes.count}}
        .col-lg-12.col-md-12.col-sm-12.col-sx-12(ng-bind-html='item.text|limitTo:500 |htmls')
        .col-lg-12.col-md-12.col-sm-12.col-sx-12(ng-if='item.attachment.type === "photo"')
          .b-carousel
            .b-carousel-button-left
            .b-carousel-button-right
            .h-carousel-wrapper
              .h-carousel-items
                .b-carousel-block(ng-repeat='attache in item.attachments' ng-if='attache.type === "photo" && attache.photo.src_small')
                  a.a-carousel-image-link
                    img(src='{{attache.photo.src}}')

            //li(ng-repeat='attache in item.attachments' ng-if='attache.type === "photo" && attache.photo.src_small')
              a
                img(src='{{attache.photo.src_small}}')

